@font-face {
    font-family: triforce;
    src: url(Triforce.ttf);
}

img{
    height:15.7vh;
    width: 26vw;
}


body{
    font-family: triforce;
    background: #00af4a;
    text-align: center;
    font-size: 2.5vh;
}
header{
    text-align: center;
}


#question {

    border: 20px solid transparent;
    border-image: url(border.png)30 round;

    background-size: 100px;
    height: 14vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    padding-top: 5%;
}
#rep-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50vh;

}

#rep1{
    border:20px solid transparent;
    border-image: url(border.png)30 round;
    width: 35vw;
    height: 14vh;
    padding-top: 2%;
    cursor: url(epee.png),pointer;

}
#rep2{
    border: 20px solid transparent;
    border-image: url(border.png)30 round;
    width:  35vw;
    height: 14vh;
    padding-top: 2%;
    cursor:url(Bouclier_Hylien.png), pointer;


}
#rep3{
    border: 20px solid transparent;
    border-image: url(border.png)30 round;
    width: 35vw;
    height: 14vh;
    padding-top: 2%;
    cursor:url(Navi.png), pointer;

}
#rep4{
    border: 20px solid transparent;
    border-image: url(border.png)30 round;
    width:  35vw;
    height: 14vh;
    padding-top: 2%;
    cursor: url(Ocarina_du_Temps_oot.png), pointer;
}
#score{
    display: none;
    border: goldenrod outset 5px;
    padding-top: 2px;
}

t1{
    color: gold;
}

t2{
    color: lawngreen;
}