@font-face {
    font-family: triforce;
    src: url(Triforce.ttf);
}

body{
    font-family: triforce;
    background: #00af4a;
}
header{
    text-align: center;
}
section{
    font-size: 2em;
}

#question{
   border: goldenrod outset 5px;
    background-size: contain;
    height: 16.20vh;
    width: 99vw;
    margin-bottom: 2vh;
}

#rep-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 54vh;
}

#rep1{
    border: goldenrod outset 5px;
    width: 35vw;
    height: 16.20vh;

}
#rep2{
    border: goldenrod outset 5px;
    width:  35vw;
    height: 16.20vh;


}
#rep3{
    border: goldenrod outset 5px;
    width: 35vw;
    height: 16.20vh;

}
#rep4{
    border: goldenrod outset 5px;
    width:  35vw;
    height: 16.20vh;
}
#score{
    display: none;
    border: goldenrod outset 5px;
}
#rep-box0 {
    margin: 5px;
}